.border-radius {
    -fx-border-radius: 50px;
}

.gradiant-color-background {
    -fx-background-color: #e1e1e1;
}

.gradiant-color-card {
    -fx-background-color: #9f9f9f;
    -fx-border-color: black;
}

.left-pane{
    -fx-background-color: linear-gradient(to top, #2f4db2, #ececec);
}
.button-hand{
    -fx-cursor: hand;
}

.background-transparent{
    -fx-background-color: transparent;
}

.scroll-pane{
    -fx-background-color: transparent;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}
/*toggle class for buttons when another clicked         <-------------<-------------<-------------<-------------*/

.selected-buttons{
    -fx-background-color: rgb(255,255,255,0.5);
    -fx-background-radius: 2px;
    -fx-border-radius: 2px;
}
.card{
    -fx-background-color: rgb(47, 77, 178,0.3);
    -fx-background-radius: 15px;
}

.check-btn{
    -fx-background-color: #3e88da;
    -fx-text-fill: white; /* White text color */
    -fx-background-radius: 10px; /* Border radius */
    -fx-cursor: hand; /* Cursor style */
}
.text-field{
    -fx-border-radius: 10px;
}

.border-colored-bottom{
    -fx-border-color: #097381;
    -fx-border-width: 0px 0px 2px 0px;
    -fx-background-color: transparent;
}
.border-colored-bottom-delete{
    -fx-border-color: #620614;
    -fx-border-width: 0px 0px 2px 0px;
    -fx-background-color: transparent;
}

.toggle-button{
    -fx-background-color: rgba(62, 136, 218, 0.5);
    -fx-background-radius: 10px;
}

.toggle-button-darker{
    -fx-background-color: rgba(59, 135, 236, 0.5);
    -fx-background-radius: 10px;
}