.button{
    -fx-background-color: transparent;
    -fx-background-radius: 20px;
}

/*.transparent{*/
/*    -fx-background-color: transparent;*/
/*}*/

.image{
    -fx-background-radius: 25%;
}

.card{
    -fx-background-color: white;
}

.hand{
    -fx-cursor: hand;
}

.transparent{
    -fx-background-color: transparent;
}

.border-radius{
    -fx-background-radius: 15%;
}

.white-background{
    -fx-background-color: white;
}

.exam-card{
    -fx-border-color: black;
    -fx-border-width: 3px;
    -fx-border-radius: 20%;
    -fx-background-radius: 20%;
}

.mult-answer-btn{
    -fx-background-color: #9b9b9b;
}
