.border-radius {
    -fx-border-radius: 50px;
}

.gradiant-color-background {
    -fx-background-color: #e1e1e1;
    /*-fx-background-color: linear-gradient(to top, #224980, #96bad9);*/
    /*-fx-background-color: #a9b1bd;*/
}

.gradiant-color-card {
    -fx-background-color: #9f9f9f;
    /*-fx-background-radius: 30px;*/
    /*-fx-border-radius: 30px;*/
    -fx-border-color: black;
    /*-fx-effect: dropshadow(three-pass-box, rgb(0, 0, 1), 5, 0.5, 1, 5);*/
    /*-fx-background-color: linear-gradient(to top, #4d33e5, #287ad7, #5a97e0);*/
}

.left-pane{
    -fx-background-color: linear-gradient(to top, #2f4db2, #ececec);
}
.button-hand{
    -fx-cursor: hand;
}

.background-transparent{
    -fx-background-color: transparent;
}

.scroll-pane{
    -fx-background-color: transparent;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}
/*toggle class for buttons when another clicked         <-------------<-------------<-------------<-------------*/

.selected-buttons{
    -fx-background-color: rgb(255,255,255,0.5);
    -fx-background-radius: 2px;
    -fx-border-radius: 2px;
}
.card{
    -fx-background-color: rgb(47, 77, 178,0.3);
    -fx-background-radius: 15px;
}

